body, html {
	background: #1e2031;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}

header {
	background: #2f2e4b;
	width: 100%;
	height: 3rem;
	position: absolute;
	top: 0;
}

header .navi {
	height: 3rem;
	position: absolute;
	top: 0;
	width: 20%;
}


.soon a, .soon i{
	color: #535d7b !important;
}

#search {
	width: calc(100% - 1rem);
	height: 5.5rem;
	background: #232538;
	padding: 1rem 0.5rem 0 0.5rem;
}

.main-search {
	width: calc(100% - 11rem);
}

#search p{
	margin: 0;
	padding: 0 0.5rem;
	color: #a1a2cd;
}


.soon a:hover, .soon i:hover {
	cursor: default;
}

header .navi_one {
	left: 24rem;
}

header .navi ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

header .navi ul li {
	display: inline-block;
	height: 3rem;
	width: 50px;
	margin-right: 1rem;
}

header .navi ul li a {
	text-align: center;
	height: 1.8rem;
	display: block;
	padding: 1.1rem 0 0  0;
	margin: 0;
	text-decoration: none;
	color: #a1a2cd;
	font-size: 10pt;
}

header .navi ul li.active > a{
	color: #fff;
	border-bottom: 2px solid #6c66fb;
}

header .navi ul li a:hover {
	color: #ccc;
}


.full_input {
	width: calc(100% - 1rem);
  background: #151723;
  margin: 0;

}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    color: #eeeeee;
  }
  100% {
    color: #0984e3;
  }
}

header .navi_two {
	height: 3rem;
	position: absolute;
	top: 0;
	width: 21rem;
	right: 0rem !important;
}


header .navi_two ul {
	height: 3rem;
}

header .navi_two ul li {
	position: relative;
	width: 8rem;
	float: left;
	text-align: right;
}

header .navi_two ul li.help i {
	font-size: 14pt;
	line-height: 1px;
	margin-left: 1rem;
}

.market_select {
	left: 1.7rem;
	font-size: 7pt;
	position: absolute;
	top: 0.5rem ;
	color: #7f7f9f;
}

.profile_icon {
	position: absolute;
	left: -0.4rem;
	width: 1.8em;
	margin-right: 0.5rem;
	border-radius: 50%;
	top: 0.8rem;
}

.fa-sort-down {
	font-size: 8pt;
}

.navi_center {
	position: absolute;
	left: calc(50% + 12rem - 7rem);
	background: #1e2031;
	border-radius: 2px;
	color: #7f7f9f;
	padding: 0.3rem 0.8rem;
	font-size: 10pt;
	top: 0.7rem;
}

.navi_center img {
	height: 0.6rem;
}

header .navi_two ul li.help {
	width: 2rem !important;
}

.logo {
	height: 1.2rem;
	margin: 0.6rem 0 0 0.8rem;
	float: left;
}

.tagline {
	float: left;
	clear: both;
	margin: 0 0 0 0.7rem;
	font-style: italic;
	letter-spacing: 5.3px;
	padding: 0;
	font-size: 6pt;
	color: #a1a2cd;
}

input {
	background: #1e2031;
	color: #a1a2cd;
	border: none;
	padding: 0.5rem;
	font-size: 10pt;
	border-radius: 3px;
	margin: 0.5rem ;
}

input::placeholder {
	color: #323b5b;
}

textarea, select, input, button { outline: none; }

.circle_button {
	font-size: 10pt;
	border-radius: 100%;
	text-align: center;
	width: 2rem;
	height: 2rem;
	color: #fff;
	background: #6c66fb;
	border: none;
}

.circle_button:hover {
	cursor: pointer;
	background: #6682fb;
}


#side_menu {
	background: #232538;
	width: 4rem;
	position: absolute;
	top: 3rem;
	bottom: 0;
	right: 4.5rem;
	left: 0;
}

#side_menu ul {
	list-style-type: none;
	padding: 0;
	margin: 1rem 0;
	color: #a1a2cd;
	font-size: 18pt;
}

#side_menu ul li {
	padding: 1rem;
	text-align: center;
}

#side_menu ul li i:hover{
	cursor: pointer;
	color: #ccc;
}

#side_menu ul li i.active {
	color: #fff;
}

#chat {
	position: absolute;
	left: 4rem;
	width: 20rem;
	bottom: 0;
	top: 3rem;
	background: #26273d;
}

#chat_compose {
	background: #2f2e4b;
	height: 3rem;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#chat_compose input {
	width: calc(100% - 5.3rem);
}

#chat_stats {
	font-size: 10pt;
	color: #a1a2cd;
	width: calc(100% - 2rem);
	text-align: right;
	margin: 1rem;
	height: 1rem;
}

#chat_stats .title {
	position: absolute;
	color: #a1a2cd;
	margin: 0;
	top: 0.8rem ;
	left: 1rem;
	font-weight: 200;
}

#chat_container {
	position: absolute;
	right: 0;
	padding: 0 1rem;
	left: 0;
	top: 3rem;
	bottom: 3rem;
	overflow-y: scroll;
}

#chat_stats i {
	color: #00b894;
	font-size: 7pt;
}

#chat_stats .subtle {
	font-size: 8pt;
	color: #a1a2cd;
}


.message {
	width: 100%;
	display: inline-block;
	margin-bottom: 1rem;
}
.message p {
	margin: 0;
	padding: 0;
}

.message .left {
	width: 2rem;
	float: left;
}

.message .right {
	width: calc(100% - 3rem);
	float: right;
	padding: 0 0 0 1rem;
}

.message .name	{
	float: left;
	font-size: 11pt;
	font-weight: 400;
	color: #a1a2cd;
}

.message .time {
	float: right;
	font-size: 8pt;
	color: #6c66fb;
}

.message .body {
	clear: both;
	font-size: 9pt;
  text-align: left;
	color: #7f7f9f;
}

.message .body img {
	width: 0.6rem;
	border-radius: 50%;
}

.message .body .item {
	color: #6c66fb;
}

.message .body .item:hover {
	cursor: pointer;
	text-decoration: underline;
}

.message img {
	margin-top: 0.3rem;
	border-radius: 2px;
	width: 2rem;
}

#main_content {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 3rem;
	left: 24rem;
	height: calc(100% - 3rem);
}

.listings_wrapper {
	width: 100%;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 7rem;
	overflow-y: scroll;
}
.listings {
	width: 100%
}

button {
	background: #00b894;
	color: #fff;
	border: none;
	padding: 0.5rem;
	font-size: 10pt;
	border-radius: 3px;
	margin: 0.5rem ;
}

button:hover {
	background: #03c59f;
	cursor: pointer;
}

button.default {
	background: #6c66fb;
}

button.default:hover {
	background: #7973f9;
}

button.info {
	background: #2d3436;
}

button.info:hover {
	background: #23282a;
}

.listings td, th {
	padding: 0 1rem;
}

.controls {
	float: right;
}

.listings thead th {
	font-weight: 100;
	color: #a1a2cd;
	font-size: 8pt;
}

.listing_row.striped {
	width: 100%;
	height: 3rem;
	background: #1e2031;
}

.listing_row {
	width: 100%;
	height: 3rem;
	background: #212235;
}

table {
	border-collapse: collapse;
}

.listings tbody tr:nth-child(even) {
	background: #212235 !important;
}

.fa-exchange, .asset_name, .asset_quantity, .asset_cost {
	color: #a1a2cd !important;
	font-size: 10pt;
}

td {
	text-align: left;
}

.asset_circle {
	margin-left: calc(50% - 1.5rem);
	border-radius: 50%;
	height: 2rem;
	padding: 0.5rem;
}

.listings td.small_td {
	width: 1rem;
	padding: 0 0.2rem !important;
}

.center {
	text-align: center;
}


.market-dropdown {
  position: absolute;
  top: 3rem;
  width: 8rem;
  background: #2f2e4b;
  color: #a1a2cd;
  z-index: 2;
  margin-left: 1.5rem;
}

.market-dropdown ul {
  margin: 0;
  padding: 0;
  height: auto !important;
}

.market-dropdown ul li {
  margin: 0;
  padding: 0.5rem 1rem;
  width: 10rem !important;
  height: auto !important;
  text-align: left !important;
  font-size: 10pt!important;
}

.market-dropdown ul li:hover {
  cursor: pointer;
  color: #fff;
}


.account-dropdown {
  position: absolute;
  top: 3rem;
  width: 13rem;
  background: #2f2e4b;
  color: #a1a2cd;
  z-index: 2;
  margin-left: -1rem;
}

.account-dropdown ul {
  margin: 0;
  padding: 0;
  height: auto !important;
}


.account-dropdown ul li:hover {
  cursor: pointer;
  color: #fff;
}

#get_metamask {
  position: absolute;
  z-index: 4;
  width: 25rem;
  heigth: 25rem;
  left: calc(50% - 13.5rem);
  top: calc(50% - 20.5rem);
  background: #1e2031;
  color: #eeeeee;
  padding: 2rem;
  text-align: center;
}

.popupmask {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}


.disabled {
  background: #2d3436 !important;
  cursor: not-allowed !important;
}

#vault {
  padding: 0rem 2rem;
  color: #a1a2cd;
}

h1, h2, h3 {
  font-weight: 100;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #2f2e4b;
  margin: 1em 0;
  padding: 0;
}

.account-dropdown ul li {
  margin: 0;
  padding: 0.5rem 1rem;
  width: 12rem !important;
  height: auto !important;
  text-align: left !important;
  font-size: 10pt!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#balances thead th {
  text-align: left;
  margin: 0;
  padding: 0;

}

#balances tbody tr td {
  padding-right: 2rem;
}


#view_listing {
  position: absolute;
  z-index: 4;
  width: 25rem;
  height: auto;
  left: calc(50% - 13.5rem);
  top: calc(50% - 18.5rem);
  background: #1e2031;
  color: #eeeeee;
  padding: 2rem;
  font-size: 10pt;
}

#view_listing button {
  width: calc(50% - 1rem);
}

.asset_circle_small {
  width: 10px;
  border-radius: 50%;
}

#view_listing h1,h2,h3,h4,h5 {
  font-weight: 100;
  margin: 0;
}

#view_listing {

}
